<!DOCTYPE html>
<!--[if gt IE 8]> <!--> <html class="no-js" lang="pt-br" xmlns:og="http://ogp.me/ns#" xmlns:og="http://ogp.me/fb#"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Cadastro de Palestras</title>
	<meta name="author" content="humans.txt"> 
	<meta name="description" content=" ">
	<meta name="keywords" content=" ">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- meta tags default -->
	<meta property="og:title" content=" ">
	<meta property="og:type" content=" ">
	<meta property="og:url" content=" ">
	<meta property="og:image" content=" ">
	<meta property="og:site_name" content=" ">
	<meta property="og:description" content=" ">
	<!-- meta tags Open Graph protocol -->
	<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
	<link rel="icon" href="{{ STATIC_URL }}img/favicon.ico">
	<link rel="apple-touch-icon" href=" ">
	<!-- favicon -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
    {% block extrastyle %}{% endblock %}
	<!-- style -->
    <script src="{{ STATIC_URL }}js/modernizr.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.js"></script>
	<script src="{{ STATIC_URL }}js/jqtransform.js"></script>
    {% block extrahead %}{% endblock %}

	<!-- script -->
</head>
<body>
	<nav class="screen-reader">
		<a href="#content" accesskey="c">Alt + Shift + C ir para o conteúdo</a>
	</nav><!-- .screen-reader -->
	
		<section id="content" class="page-sign">
			<section id="main" class="intern">
				<h1><a href="http://pug-pe.python.org.br/encontro/xix/" title="Pycon PE" rel="external">Pycon PE - Python User 	Group Pernambuco</a></h1>
                {% block content %}{% endblock %}
			</section>
			<footer>
				<figure><a href="http://pug-pe.python.org.br/encontro/xix/" title="Pycon PE" rel="external"><img src="{{ STATIC_URL }}img/layout/logo-python-pe.png" alt="Python PE" width="200" height="auto"></a></figure>
				<a class="developer" href="http://www.studiomustache.com.br" rel="external" title="Studio Mustache">Studio Mustache</a>
			</footer>	
		</section><!-- #content -->
		
    <script src="{{ STATIC_URL }}js/functions.js"></script>
	<!-- script -->
</body>
</html>
